/autom4te.cache/
/config.h
/config.h.in~
/config.log
/config.status
/configure~
/libtool
/stamp-h1

/Makefile
/bin/Makefile
/libvbisam/Makefile
/tests/Makefile

/.deps/
/bin/.deps/
/bin/.libs/
/libvbisam/.deps/
/libvbisam/.libs/
/tests/.deps/
/tests/.libs/

/bin/vbcheck
/bin/vbrecover
/tests/mvtest
/tests/detest00
/tests/detest01
/tests/jvntest
/tests/nametest
/tests/faulttest
/tests/atconfig
/tests/atlocal

*.o
*.lo
*.la
*.a

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
